* {
  display: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  color: steelblue;
}

.game-start {
  font-family: Garamond, Helvetica, sans-serif;
  position: absolute;
  color: #3E92CC;
}

.game-over {
  font-family: Garamond, Helvetica, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  color: green;
  visibility: hidden;
}

#scorebox {
  visibility: hidden;
}

strong {
  color: #16324F;
}

h3 {
  color: #16324F
}